{% extends 'base.html' %}
{% load static %}

{% block title %}BHouse - Real Estate HTML5 Template{% endblock %}

{% block content %}
<!-- Start Hero Area -->
<section class="section-bg">
	<div class="hero-slider-full owl-carousel">
		<!-- Single -->
		<div class="hero-slider-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 align-self-center">
						<div class="hero-caption pt-30 pb-50">
							<h4>Welcome to bhouse</h4>
							<h2>Find Your Amazing Real House Buy</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nisi velit. Maecenas dapibus nunc a tellus efficitur, vitae scelerisque</p>
							<div class="hero-btn mt-25">
								<a class="button-1" href="about.html">About Us</a>
								<a class="button-2" href="services.html">Our Services</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 align-self-end">
						<div class="hero-image pt-70">
							<img src="assets/img/hero.png" alt="hero">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Single -->
		<div class="hero-slider-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 align-self-end  order-lg-first order-last">
						<div class="hero-image pt-70">
							<img src="assets/img/hero.png" alt="hero">
						</div>
					</div>
					<div class="col-lg-6 align-self-center">
						<div class="hero-caption text-right  pt-30 pb-50">
							<h4>Welcome to bhouse</h4>
							<h2>Find Your Amazing Real House Buy</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nisi velit. Maecenas dapibus nunc a tellus efficitur, vitae scelerisque</p>
							<div class="hero-btn mt-25">
								<a class="button-1" href="about.html">About Us</a>
								<a class="button-2" href="services.html">Our Services</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hero Area -->
<!-- Start Find Now Form -->
<div class="find-now-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="find-now-full">
					<div class="appointment-form">
						<form action="#">
							<div class="row">
								<div class="col-lg-3 col-sm-6">
									<input type="text" name="name" placeholder="Name">
								</div>
								<div class="col-lg-3 col-sm-6">
									<select name="category">
										<option value="Region">Your Region</option>
										<option value="United">United States</option>
										<option value="India">India</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Afghanistan">Afghanistan</option>
										<option value="Albania">Albania</option>
										<option value="Algeria">Algeria</option>
									</select>
								</div>
								<div class="col-lg-3 col-sm-6">
									<select name="category">
										<option value="t">Services Type</option>
										<option value="t">Services Type 1</option>
										<option value="t">Services Type 2</option>
										<option value="t">Services Type 3</option>
										<option value="t">Services Type 4</option>
										<option value="t">Services Type 5</option>
										<option value="t">Services Type 6</option>
									</select>
								</div>
								<div class="col-lg-3 col-sm-6">
									<button class="button-1" type="submit">Find Now</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Find Now Form -->
<!-- Start About Area -->
<section class="about-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-img">
					<img src="assets/img/about.png" alt="img">
					<div class="about-vedio">
						<div class="video-btn">
							<a data-rel="lightcase" href="https://player.vimeo.com/video/553110309?h=dc4ee31dc4"><i class="fas fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 align-self-center">
				<div class="about-content">
					<h4 class="sc_subtitle"><span>About Us</span></h4>
					<h2 class="sc_title">Architects With Difference & New Approch.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat lectus sed justo sollicitudin, non porttitor nunc varius. Donec commodo ac nibh quis aliquet. Suspendisse varius hendrerit odio eget efficitur. Mauris sed neque porta, lacinia metus sit amet, laoreet quam. Maecenas dapibus ligula vel magna hendrerit.</p>
					<ul>
						<li><i class="bi bi-house"></i> <span>Smart Home Design </span></li>
						<li><i class="bi bi-border-bottom"></i> <span>Beautiful Scene Around</span></li>
						<li><i class="bi bi-shield-fill-check"></i> <span>Complete 24/7 Security</span></li>
						<li><i class="bi bi-life-preserver"></i> <span>Exceptional Lifestyle </span></li>
					</ul>
					<p> Morbi porttitor nibh justo, sit amet imperdiet ligula laoreet eu. Sed mollis nec sem vel laoreet. Donec tincidunt consequat gravida. Nullam accumsan lobortis nisl sed gravida. Aliquam facilisis blandit accumsan. Suspendisse elementum sit amet tortor eget mollis.</p>
					<a class="button-1" href="about.html">About Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Area -->
<!-- Start Counter Area -->
<section class="section-padding-2 counter-area" style="background-image:url('assets/img/counter.jpg');">
	<div class="container">
		<div class="row">
			<!-- Single -->
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="counter-item">
					<div class="icon">
						<i class="fas fa-dna"></i>
					</div>
					<div class="content">
						<div class="title">
							<h2 class="counter">255</h2>
							<h3>+</h3>
						</div>
						<p>Remaining Project</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="counter-item">
					<div class="icon">
						<i class="fas fa-tasks"></i>
					</div>
					<div class="content">
						<div class="title">
							<h2 class="counter">201</h2>
							<h3>+</h3>
						</div>
						<p>Projects Completed</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="counter-item">
					<div class="icon">
						<i class="fas fa-chart-pie"></i>
					</div>
					<div class="content">
						<div class="title">
							<h2 class="counter">850</h2>
							<h3>+</h3>
						</div>
						<p>Projects Ongoing</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-3 col-md-6 mb-30">
				<div class="counter-item">
					<div class="icon">
						<i class="fas fa-smile"></i>
					</div>
					<div class="content">
						<div class="title">
							<h2 class="counter">850</h2>
							<h3>+</h3>
						</div>
						<p>Happy Clients</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Counter Area -->
<!-- Start Features Area -->
<section class="section-padding">
	<div class="container">
		<!-- Section Headding -->
		<div class="row">
			<div class="col-lg-12 mb-50 text-center">
				<div class="section-headding">
					<h4 class="sc_subtitle"><span>What We do</span></h4>
					<h2 class="sc_title">Our Services</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-receipt-cutoff"></i>
						</div>
						<h3><a href="services-details.html">Real Estate</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-columns-gap"></i>
						</div>
						<h3><a href="services-details.html">Interior Design</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-border"></i>
						</div>
						<h3><a href="services-details.html">Lown Phanning</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-house-door"></i>
						</div>
						<h3><a href="services-details.html">Building Consulting</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-briefcase"></i>
						</div>
						<h3><a href="services-details.html">Architecture Design</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="features-item">
					<div class="features-info">
						<div class="icon">
							<i class="bi bi-recycle"></i>
						</div>
						<h3><a href="services-details.html">Urban Design</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur cing elit. Morbi feugiat lectus sed justo sollicitudin.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Features Area -->
<!-- Start Portfolio Area -->
<section class="section-padding-2 portfolio-area">
	<div class="container">
		<!-- Section Headding -->
		<div class="row">
			<div class="col-lg-12 mb-50 text-center">
				<div class="section-headding">
					<h4 class="sc_subtitle"><span>Portfolio</span></h4>
					<h2 class="sc_title">Our Projects</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mb-25 text-center">
				<div class="portfolio-menu">
					<ul id="portfolio-flters" class="list-unstyled">
	                    <li data-filter="*" class="filter-active">All</li>
	                    <li data-filter=".filter-1">Architecture</li>
	                    <li data-filter=".filter-2">Building</li>
	                    <li data-filter=".filter-3">Consulting</li>
	                </ul>
				</div>
			</div>
		</div>
		<div class="row portfolio-item-full">
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-1">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/1.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Architectural Details</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-2">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/2.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Modern House Idea</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-3">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/3.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Minimal Design</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-1">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/4.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Architectural Details</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-2">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/5.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Modern House Idea</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<!-- Single -->
			<div class="col-lg-4 col-md-6 mb-30 portfolio-item filter-3">
				<div class="single-portfolio">
					<div class="portfolio-head">
						<img src="assets/img/portfolio/6.jpg" alt="portfolio">
					</div>
					<div class="portfolio-content">
						<h3><a href="portfolio-details.html">Minimal Design</a></h3>
						<a href="portfolio-details.html" class="p-link"><i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Portfolio Area -->
<!-- Start Sponser Area -->
<div class="sponser-area section-padding-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sponser-carousel owl-carousel">
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/1.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/2.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/3.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/4.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/5.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/6.png" alt="img">
					</div>
					<!-- Single -->
					<div class="single-sponser">
						<img src="assets/img/sponser/3.png" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Sponser Area -->
<!-- Start Testimonial Area -->
<section class="section-padding testimonial-area">
	<div class="container">
		<!-- Section Headding -->
		<div class="row">
			<div class="col-lg-12 mb-50 text-center">
				<div class="section-headding">
					<h4 class="sc_subtitle"><span>Our Awesome Testimonial</span></h4>
					<h2 class="sc_title">Clients Feedback</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="client-testimonial-full owl-carousel">
					<!-- Single -->
					<div class="testimonial-item">
						<div class="thumbnail">
							<img src="assets/img/tes1.jpg" alt="">
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<h2>Rosalina D. William</h2>
							<h4>Founder</h4>
						</div>
						<div class="btm-big-icon">
							<i class="far fa-comments"></i>
						</div>
					</div>
					<!-- Single -->
					<div class="testimonial-item">
						<div class="thumbnail">
							<img src="assets/img/tes2.jpg" alt="">
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<h2>Rosalina D. William</h2>
							<h4>Founder</h4>
						</div>
						<div class="btm-big-icon">
							<i class="far fa-comments"></i>
						</div>
					</div>
					<!-- Single -->
					<div class="testimonial-item">
						<div class="thumbnail">
							<img src="assets/img/tes1.jpg" alt="">
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<h2>Rosalina D. William</h2>
							<h4>Founder</h4>
						</div>
						<div class="btm-big-icon">
							<i class="far fa-comments"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Testimonial Area -->
<!-- Start Blog Area -->
<section class="section-padding-2">
	<div class="container">
		<!-- Section Headding -->
		<div class="row">
			<div class="col-lg-12 mb-50 text-center">
				<div class="section-headding">
					<h4 class="sc_subtitle"><span>Blog & News</span></h4>
					<h2 class="sc_title">Latest Blog</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="blog-item">
					<div class="thumnail">
						<a href="single.html">
							<img src="assets/img/blog/1.jpg" alt="blog">
						</a>
					</div>
					<div class="content">
						<div class="post-date">
                            <span>31</span>
                            Oct
                        </div>
                        <div class="blog-meta">
                        	<a href="#"><i class="fas fa-user"></i> Admin</a>
                        	<a href="#"><i class="fas fa-tags"></i> Technology</a>
                        </div>
                        <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
                        <p>Nulla ac suscipit nisi. Sed rhoncus, nisl ut rutrum maximus, justo dui malesuada magna, non eleifend</p>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="blog-item">
					<div class="thumnail">
						<a href="single.html">
							<img src="assets/img/blog/2.jpg" alt="blog">
						</a>
					</div>
					<div class="content">
						<div class="post-date">
                            <span>31</span>
                            Oct
                        </div>
                        <div class="blog-meta">
                        	<a href="#"><i class="fas fa-user"></i> Admin</a>
                        	<a href="#"><i class="fas fa-tags"></i> Technology</a>
                        </div>
                        <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
                        <p>Nulla ac suscipit nisi. Sed rhoncus, nisl ut rutrum maximus, justo dui malesuada magna, non eleifend</p>
					</div>
				</div>
			</div>
			<!-- single -->
			<div class="col-lg-4 col-md-6 mb-30">
				<div class="blog-item">
					<div class="thumnail">
						<a href="single.html">
							<img src="assets/img/blog/3.jpg" alt="blog">
						</a>
					</div>
					<div class="content">
						<div class="post-date">
                            <span>31</span>
                            Oct
                        </div>
                        <div class="blog-meta">
                        	<a href="#"><i class="fas fa-user"></i> Admin</a>
                        	<a href="#"><i class="fas fa-tags"></i> Technology</a>
                        </div>
                        <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
                        <p>Nulla ac suscipit nisi. Sed rhoncus, nisl ut rutrum maximus, justo dui malesuada magna, non eleifend</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Blog Area -->
<!-- Start Instagram Feed -->
<div class="ins-feed">
	<div class="instagram-feed owl-carousel">
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/1.jpg">
				<img src="assets/img/instagram/1.jpg" alt="img">
			</a>
		</div>
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/2.jpg">
				<img src="assets/img/instagram/2.jpg" alt="img">
			</a>
		</div>
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/3.jpg">
				<img src="assets/img/instagram/1.jpg" alt="img">
			</a>
		</div>
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/4.jpg">
				<img src="assets/img/instagram/4.jpg" alt="img">
			</a>
		</div>
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/5.jpg">
				<img src="assets/img/instagram/5.jpg" alt="img">
			</a>
		</div>
		<!-- single -->
		<div class="ins-single">
			<a data-rel="lightcase:myCollection:instagram" href="assets/img/instagram/6.jpg">
				<img src="assets/img/instagram/6.jpg" alt="img">
			</a>
		</div>
	</div>
</div>
<!-- End Instagram Feed -->
{% endblock %}